*
{
    margin: 0;
    padding: 0;
}

body 
{
    background-color: #252627 !important;
}

#nav-bar 
{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand
{
    color: #707070 !important;
}

.navbar-brand img 
{
    height: 40px;
    padding-left: 30px;
}

.navbar-nav li
{
    padding: 0 10px;
}

/* .navbar-nav li a 
{
    float: right;
    text-align: left;
} */

#nav-bar ul li a:hover 
{
    color: #007bff !important;
}

.navbar 
{
    /* background: #252627; */
    background: #181818;
}

.navbar-toggler 
{
    border-color: black !important;
    background: #707070 !important;
}

.nav-link 
{
    color: #555 !important;
    font-weight: 600;
    font-size: 16px;
}

.btn
{
    color: #707070 !important;
    border-color: #555 !important;
}

.btn:hover
{
    color: lightslategray !important;
    background-color: darkslategrey !important;
}

.form-control
{
    background-color: #252627 !important;
    border-color: #252627 !important;
}


.contact h1
{
    text-align: center;
    color: grey;
}

.contact
{
    margin-top: 50px;
}

.contact input,
.contact form textarea
{
    display: block;
    max-width: 500px;
    padding: 20px;
    background-color: #252627;
    border: 3px solid #707070;
    margin: 35px 0;
    font-size: 1.2rem;
    color: #fff;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}

form input:last-child
{
    width: 150px;
    background-color: #ED5565;
    border: none;
    cursor: pointer;
}

footer hr
{
    border: 2px solid #707070;
    margin-top: 80px;
}

footer p
{
    text-align: center;
    color: #707070;
    font-size: 1.2rem;
    padding: 30px 0;
}

.col-xl-8 h1 
{
    color: grey;
    font-weight: 600;
    /* text-shadow: -1px -1px 0 grey, 1px -1px 0 slategray, -1px 1px 0 darkgrey, 1px 1px 0 slategray; */
    text-align: center;
}

.lead 
{
    color: white;
}

.controls
{
    color: whitesmoke;
}


.form-group .form-control
{
    border-color: grey !important;
}
